:root {
    --base: black;
    --overlay: rgba(255, 255, 255, 0.05);
    --content: white;
    --primary: #006161;
    --link: #9191ff;
    --visited: #c27dff;
}

a:link {
    color: var(--link);
    text-decoration: none;
}

a:visited {
    color: var(--visited);
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 15px;

    background-color: var(--base);
    color: var(--content);
}

nav {
    grid-row: 1 / span 3;

    background-color: var(--primary);

    padding: 15px;
}

header {
    grid-column-start: 2;
    grid-column-end: -1;

    display: grid;
    grid-template-columns: 3fr 2fr;

    padding: 10px 30px;
    
    background-color: var(--overlay);
}

header .user, header .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header form[role="search"], input[type="search"] {
    display: flex;
    justify-content: center;
}

header button {
    background-color: var(--primary);
}

input, button {
    color: inherit
}

main {
    grid-column-start: 2;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

main > h1 {
    grid-column: 1 / -1;
}

.card {
    padding: 10px;

    background-color: var(--overlay);
}

custom-card {
    display: grid;
}

custom-card form {
    align-self: flex-end;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.complementary {
    grid-column-start: -2;
}

aside {
    padding-right: 15px;
}